body
	background-color: #F9FAC9;
	padding 0
	margin 0
	font-size: 16px;
	width: 100%;
	.hello-container
		text-align: center;
		padding-top: 4em;
		.pizza-wrapper
			/* Firefox */
			#pizza-logo
				display: inline-block;
		.geeknightscuu-wrapper
			padding-top: 2em;
			#geeknightscuu
				display: inline-block;

	#weare
		padding: 0 2em;
		font-family: 'Roboto', sans-serif;
		text-align: center;
		p
			color: #00D999;
			line-height: 1em;
			font-size: 1.5em;
			padding: 0 0em;
			margin: 0em 0 ;
			span
				font-weight: bold;
			a
				color: #00D999 !important;
				font-weight: bold;
			a:hover
				color: #FF0000 !important;

		#somos
			margin: 1em 0 0 0;
		#chihuahua
			font-size: 1em;
			font-weight: 300;
			margin: 0.25em 0 1em 0;
		.nosreunimos
			font-size: 1.25em;
		#aveces
			font-size: 1.25em;
			margin-top: 1em;
			margin-bottom: 1em;
		.grupos
			font-size: 1.25em;
			margin: 0.25em 0;
