body
	background-color: #F9FAC9;
	padding 0
	margin 0
	font-size: 16px;
	width: 100%;
	.hello-container
		text-align: center;
		padding-top: 4em;
		.pizza-wrapper
			#pizza-logo
				display: inline-block;
		.geeknightscuu-wrapper
			padding-top: 2em;
			#geeknightscuu
				display: inline-block;
