@media only screen and (min-width: 992px) and (max-width: 1200px) {
  section #banner_1 #b1_img {
    width: 335px;
  }
  section #banner_1 #b1_txt h3 {
    font-size: 1em;
  }
  section #banner_1 #b1_txt #buy_buttons li img {
    width: 100px;
  }
}
@media only screen and (min-width: 659px) and (max-width: 991px) {
  section .article_bans {
    margin-top: 5em;
  }
  section #banner_1 #b1_img {
    margin-top: 2em;
    margin-left: -1em;
    border-radius: 0em;
    width: 220px;
  }
  section #banner_1 #b1_txt {
    margin: 0em;
    padding: 0em;
  }
  section #banner_1 #b1_txt h3 {
    font-size: 1em;
  }
  section #banner_1 #b1_txt #buy_buttons li img {
    width: 100px;
  }
  section #banner_2 #b2_txt {
    margin: 0;
    padding: 0;
  }
  section #banner_2 #b2_txt #map_img {
    width: 70px;
  }
  section #banner_2 #screen_1 {
    width: 330px;
  }
  section #banner_2 h3 {
    font-size: 1em;
  }
  section #banner_3 {
    margin-top: 1em;
  }
  section #banner_3 #b3_txt {
    margin: 0 2em;
    padding: 0;
  }
  section #banner_3 #b3_txt #compass_img {
    width: 70px;
  }
  section #banner_3 #screen_2 {
    width: 250px;
  }
  section #banner_3 h3 {
    padding: 0;
    font-size: 1em;
  }
  #feedback_banner {
    margin: 0em 0;
  }
  #feedback_banner #feedback_txt {
    width: 55%;
    margin: 2em;
  }
}
@media only screen and (max-width: 658px) {
  body #nav_butons {
    margin: 0;
    padding: 0;
  }
  body #nav_butons li {
    margin: 0 0.05em;
  }
  header {
    padding: 0;
    margin: 0;
  }
  header img {
    padding: 0;
    margin: 0;
    width: 280px;
  }
  section .article_bans {
    margin-top: 2em;
  }
  section #first_article #b1_img {
    width: 200px;
  }
  section #banner_1 {
    text-align: center;
    border-radius: 0em;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  section #banner_1 #b1_txt {
    margin: 0;
    padding: 0em;
    width: 100%;
  }
  section #banner_1 #b1_txt h3 {
    font-size: 0.8em;
  }
  section #banner_1 #b1_txt h2 {
    font-size: 1em;
  }
  section #banner_1 #b1_txt #buy_buttons {
    margin: 0;
    width: 100%;
  }
  section #banner_1 #b1_txt #buy_buttons li img {
    width: 90px;
  }
  section #banner_2 {
    width: 100%;
  }
  section #banner_2 #b2_txt {
    margin: 0;
    padding: 0;
    border-radius: 0.2em;
    width: 100%;
  }
  section #banner_2 #b2_txt #map_img {
    width: 50px;
  }
  section #banner_2 #screen_1 {
    margin: 0;
    margin-top: 1em;
    padding: 0;
    width: 250px;
  }
  section #banner_2 h3 {
    font-size: 0.8em;
  }
  section #banner_2 h2 {
    font-size: 1em;
  }
  section #banner_3 {
    margin-top: 0em;
    padding: 0;
    width: 100%;
  }
  section #banner_3 #b3_txt {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 0.2em;
  }
  section #banner_3 #b3_txt #compass_img {
    width: 50px;
  }
  section #banner_3 #screen_2 {
    width: 180px;
    margin-bottom: 1em;
  }
  section #banner_3 h2 {
    font-size: 1em;
  }
  section #banner_3 h3 {
    padding: 0;
    font-size: 0.8em;
  }
  #feedback_banner {
    margin: 0em 0;
    padding: 0;
    width: 100%;
  }
  #feedback_banner #feedback_txt {
    margin: 2em 0em;
    padding: 0.7em;
    width: 90%;
  }
  #feedback_banner #feedback_txt h3 {
    font-size: 0.9em;
  }
  #feedback_banner #social_container img {
    width: 60px;
  }
  #about_banner {
    margin: 2em 0em;
    width: 90%;
  }
  #about_banner #about_txt {
    padding: 0.2em;
    margin: 0;
    width: 100%;
  }
  #about_banner #about_txt h2 {
    font-size: 1em;
  }
  #about_banner #about_txt h3 {
    font-size: 0.9em;
  }
  #credits_article {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #credits_article #credits_txt h2 {
    font-size: 1em;
  }
  #credits_article #credits_txt h3 {
    font-size: 0.9em;
  }
  .magbutton {
    width: 80px;
    height: 40px;
    padding: 0;
  }
  .magbutton h2 {
    margin: 0;
    margin-top: -1.3em;
    padding: 0;
    font-size: 0.7em;
    font-weight: bold;
  }
}
