@media only screen and (min-width : 992px) and (max-width : 1200px )
	section
		#banner_1	
			#b1_img
				width 335px
			#b1_txt
				h3 
					font-size 1em
				#buy_buttons
					li 
						img 
							width 100px

@media only screen and (min-width : 659px ) and (max-width : 991px )
	section
		.article_bans
			margin-top 5em
		#banner_1	
			#b1_img
				margin-top 2em
				margin-left -1em
				border-radius 0em
				width 220px
			#b1_txt
				margin 1em
				padding 0.3em
				h3 
					font-size 1em
				#buy_buttons
					li 
						img 
							width 100px
		#banner_2
			#b2_txt
				margin 0 
				padding 0
				#map_img
					width 70px
			#screen_1
				width 330px
			h3 
				font-size 1em
		#banner_3
			margin-top 1em
			#b3_txt
				margin 0 2em 
				padding 0 
				#compass_img
					width 70px
			#screen_2
				width 250px
			h3 
				padding 0 
				font-size 1em
	#feedback_banner
		margin 0em 0
		#feedback_txt
			width 55%
			margin 2em 

@media only screen and (min-width : 300px ) and (max-width : 658px )
	header
		img 
			width 330px
	section
		.article_bans
			margin-top 2em
		#banner_1	
			text-align center
			border-radius 0em
			margin 0 
			padding 0 
			border-bottom solid 0.1em black
			border-top solid 0.1em black
			width 100%
			#b1_img
				margin-top 2.5em
				margin-left -1em
				border-radius 0.5em
				width 250px
			#b1_txt
				margin 0
				padding 0em
				width 100%
				h3 
					font-size 0.8em
				h2 
					font-size 1em
				#buy_buttons
					margin 0
					width 100%
					li 
						img 
							width 90px

		#banner_2
			width 100%
			#b2_txt
				margin 0 
				padding 0
				width 100%
				#map_img
					width 50px
			#screen_1
				margin 0
				margin-top 1em 
				padding 0 
				width 250px
			h3 
				font-size 0.8em
			h2 
				font-size 1em
		#banner_3
			margin-top 0em
			padding 0 
			width 100%
			#b3_txt
				margin 0 
				padding 0 
				width 100%
				#compass_img
					width 50px
			#screen_2
				width 180px
				margin-bottom 1em
			h2 
				font-size 1em
			h3 
				padding 0 
				font-size 0.8em
	#feedback_banner
		margin 0em 0
		width 100%
		#feedback_txt
			margin 2em 0.2em 
			width 100%
			h3
				font-size 1em
		#social_container
			img 
				width 60px
	#about_banner
		margin 2em 0.2em
		width 100%
		#about_txt
			width 100%
			h3 
				font-size 1em
	#credits_article
		width 100%
		padding 0 
		margin 0 					
	.magbutton
		width 	80px
		height 40px
		padding 0 
		h2 
			margin 0 
			margin-top -1.3em
			padding 0 
			font-size 0.70em
			font-weight bold
